<div id="<%= dom_id word_sentence_link %>">
  <p>
    <strong>Sentence:</strong>
    <%= word_sentence_link.sentence_id %>
  </p>

  <p>
    <strong>Word:</strong>
    <%= word_sentence_link.word_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= word_sentence_link.language_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= word_sentence_link.book_id %>
  </p>

</div>
