<div id="<%= dom_id progress %>">
  <p>
    <strong>User:</strong>
    <%= progress.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= progress.book_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= progress.location %>
  </p>

  <p>
    <strong>Progress percentage:</strong>
    <%= progress.progress_percentage %>
  </p>

</div>
