<div id="<%= dom_id sentence %>">
  <p>
    <strong>Book:</strong>
    <%= sentence.book_id %>
  </p>

  <p>
    <strong>English translation:</strong>
    <%= sentence.english_translation %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= sentence.content %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= sentence.language_id %>
  </p>

</div>
