<div id="<%= dom_id definition %>">
  <p>
    <strong>Word:</strong>
    <%= definition.word_id %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= definition.definition %>
  </p>

  <p>
    <strong>Dict pos:</strong>
    <%= definition.dict_pos %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= definition.language_id %>
  </p>

  <p>
    <strong>Nlp pos:</strong>
    <%= definition.nlp_pos %>
  </p>

</div>
