<p style="color: green"><%= notice %></p>

<%= render @definition %>

<div>
  <%= link_to "Edit this definition", edit_definition_path(@definition) %> |
  <%= link_to "Back to definitions", definitions_path %>

  <%= button_to "Destroy this definition", @definition, method: :delete %>
</div>
