    
<div id="accentButtons1">
  <%= button_tag 'Á', type: 'button', onclick: "insertAccent('Á')" %>
  <%= button_tag 'É', type: 'button', onclick: "insertAccent('É')" %>
  <%= button_tag 'Í', type: 'button', onclick: "insertAccent('Í')" %>
  <%= button_tag 'Ó', type: 'button', onclick: "insertAccent('Ó')" %>
  <%= button_tag 'Ú', type: 'button', onclick: "insertAccent('Ú')" %>
  <%= button_tag 'Ñ', type: 'button', onclick: "insertAccent('Ñ')" %>
</div>
<div id="accentButtons2">
  <%= button_tag 'á', type: 'button', onclick: "insertAccent('á')" %>
  <%= button_tag 'é', type: 'button', onclick: "insertAccent('é')" %>
  <%= button_tag 'í', type: 'button', onclick: "insertAccent('í')" %>
  <%= button_tag 'ó', type: 'button', onclick: "insertAccent('ó')" %>
  <%= button_tag 'ú', type: 'button', onclick: "insertAccent('ú')" %>
  <%= button_tag 'ñ', type: 'button', onclick: "insertAccent('ñ')" %>
</div>
