<p style="color: green"><%= notice %></p>

<a href="/books" class="back">Back to books</a>
<%= render @book %>

<div class="story">
  <% @book.sentences.each do |sentence| %>
    <span class="clickableElement sentence" id="index-<%= sentence.index_in_book %>"> <%= sentence.content%> </span>
    <br>
    <br>

    <div class="bubble sentence_bubble" id="index-<%= sentence.index_in_book %>-sentence" style="display: none">
      <span><strong>Sentence</strong></span><br>
      <br>
      <% sentence.words.each_with_index do |word, word_index_in_sentence| %>
        <span class="clickableElement word index-<%= sentence.index_in_book %>-sentence-word" id=<%= word.id %> timestamp= <%= word.word_sentence_links.find_by(word_id: word.id, sentence_id: sentence.id, index_in_sentence: word_index_in_sentence).word_audio_timestamp %>><%= word.content %></span>
          <div class="bubble word_bubble" id="index-<%= sentence.index_in_book %>-sentence-word-<%= word.id %>" style="display: none">
            <div> <strong><%= word.content %></strong>  </div>
            <% word.definitions.each do |definition| %>
              <div> <em><%= definition.dict_pos %></em> <%= definition.content %>  </div>
            <% end %>
            <audio class="audio_word" controls src="https://biblioglot.s3.us-east-2.amazonaws.com/<%= word.audio %>" type="audio/mp3">
              Your browser
            </audio>
          </div>
        <% end %>

        <div>
          <audio class="audio_sentence" id="audio-index-<%= sentence.index_in_book %>-sentence" controls src="https://biblioglot.s3.us-east-2.amazonaws.com/<%= sentence.audio %>" type="audio/mp3">
            Your browser
          </audio>
        </div>
        <p><strong>Translation</strong></p>
        <p><%= sentence.english_translation %> </p>

      </div>

    <% end %>
  </div>

  <div class="header">
    <%= form_with(url: "/books/process_text", data: {turbo: false }) do %>
      <%= hidden_field_tag 'user_id', current_user.id %>
      <%= hidden_field_tag 'book_id', @book.id %>

      <%= label_tag :story_text, "Administrator Console" %>

      <br>
      <%= text_area_tag :story_text, '', rows: 5, cols: 50 %>

      <%= submit_tag "Process" %>
    <% end %>

    <div id="accentButtons1">
      <%= button_tag 'Á', type: 'button', onclick: "insertAccent('Á')" %>
      <%= button_tag 'É', type: 'button', onclick: "insertAccent('É')" %>
      <%= button_tag 'Í', type: 'button', onclick: "insertAccent('Í')" %>
      <%= button_tag 'Ó', type: 'button', onclick: "insertAccent('Ó')" %>
      <%= button_tag 'Ú', type: 'button', onclick: "insertAccent('Ú')" %>
      <%= button_tag 'Ñ', type: 'button', onclick: "insertAccent('Ñ')" %>
    </div>
    <div id="accentButtons2">
      <%= button_tag 'á', type: 'button', onclick: "insertAccent('á')" %>
      <%= button_tag 'é', type: 'button', onclick: "insertAccent('é')" %>
      <%= button_tag 'í', type: 'button', onclick: "insertAccent('í')" %>
      <%= button_tag 'ó', type: 'button', onclick: "insertAccent('ó')" %>
      <%= button_tag 'ú', type: 'button', onclick: "insertAccent('ú')" %>
      <%= button_tag 'ñ', type: 'button', onclick: "insertAccent('ñ')" %>
    </div>

    <div>
      <%= link_to "Edit this book", edit_book_path(@book) %> |
      <%= link_to "Back to books", books_path %>

      <%= button_to "Destroy this book", @book, method: :delete %>
    </div>
  </div>
